## По каждому товару определить, в какой день недели товар чаще всего покупается.

In [12]:
# Соединяю таблицу заказов и таблицу с товарными позициями

orders_and_items = olist_orders.merge(olist_items, how='left',on='order_id') \
    [['product_id','order_purchase_timestamp','order_status']]

In [13]:
# Проверяю колонку

orders_and_items.order_purchase_timestamp.head()

0   2017-10-02 10:56:33
1   2018-07-24 20:41:37
2   2018-08-08 08:38:49
3   2017-11-18 19:28:06
4   2018-02-13 21:18:39
Name: order_purchase_timestamp, dtype: datetime64[ns]

In [14]:
# Делаю в колонке дни недели вместо даты

orders_and_items.order_purchase_timestamp = olist_orders.order_purchase_timestamp.dt.day_name()

In [15]:
orders_and_items.order_purchase_timestamp.head()

0       Monday
1      Tuesday
2    Wednesday
3     Saturday
4      Tuesday
Name: order_purchase_timestamp, dtype: object

In [16]:
# Дропаю пропущенные данные

orders_and_items = orders_and_items.dropna()

In [18]:
orders_and_items.head()

                         product_id order_purchase_timestamp order_status
0  87285b34884572647811a353c7ac498a                   Monday    delivered
1  595fac2a385ac33a80bd5114aec74eb8                  Tuesday    delivered
2  aa4383b373c6aca5d8797843e5594415                Wednesday    delivered
3  d0b61bfb1de832b15ba9d266ca96e5b0                 Saturday    delivered
4  65266b2da20d04dbe00c5c2d3bb7859e                  Tuesday    delivered

In [19]:
# Группирую по дням недели и указываю, что товар куплен
    
id_day = orders_and_items.query('order_status == "delivered"') \
    .groupby(['product_id','order_purchase_timestamp'],as_index=False) \
    .agg({'order_status':'count'}) \
    .drop_duplicates(subset=["product_id"], keep='first') \
    [['product_id','order_purchase_timestamp']]

In [20]:
# Вывожу таблицу с id товара и днем недели, в который этот товар чаще покупается

id_day

                             product_id order_purchase_timestamp
0      0009406fd7479715e4bef61dd91f2462                  Tuesday
1      000b8f95fcb9e0096488278317764d19                   Friday
2      000d9be29b5207b54e86aa1b1ac54872                   Monday
3      0011c512eb256aa0dbbb544d8dffcf6e                 Saturday
4      00126f27c813603687e6ce486d909d01                   Monday
...                                 ...                      ...
57752  fff6177642830a9a94a0f2cba5e476d1                   Friday
57754  fff81cc3158d2725c0655ab9ba0f712c                 Saturday
57755  fff9553ac224cec9d15d49f5a263411f                 Saturday
57756  fffdb2d0ec8d6a61f0a0a0db3f25b441                   Monday
57759  fffe9eeff12fcbd74a2f2b007dde0c58                  Tuesday

[29786 rows x 2 columns]