## Сколько у каждого из пользователей в среднем покупок в неделю (по месяцам)? Не стоит забывать, что внутри месяца может быть не целое количество недель. Например, в ноябре 2021 года 4,28 недели. И внутри метрики это нужно учесть.

In [21]:
# Перевожу дату в название месяца

unique_id.order_purchase_timestamp = olist_orders.order_purchase_timestamp.dt.month_name()

In [22]:
# Считаю сколько недель в месяце

unique_id['weeks'] = olist_orders.order_purchase_timestamp.dt.days_in_month / 7

In [23]:
# Считаю среднее количество успешных заказов

weekly_customers = unique_id.query('order_status == "delivered"') \
    .groupby(['customer_unique_id','order_purchase_timestamp','weeks'], as_index=False) \
    .agg({'order_status':'count'}) \
    .groupby(['customer_unique_id','order_purchase_timestamp','weeks'],as_index=False) \
    .agg({'order_status':'sum'}) \
    .rename(columns={'order_purchase_timestamp':'month','order_status':'avg_orders'})

In [24]:
weekly_customers.head()

                 customer_unique_id     month     weeks  avg_orders
0  0000366f3b9a7992bf8c76cfdf3221e2       May  4.428571           1
1  0000b849f77a49e4a4ce2b2a4ca5be3f       May  4.428571           1
2  0000f46a3911fa3c0805444483337064     March  4.428571           1
3  0000f6ccb0745a6a4b88665a16c9f078   October  4.428571           1
4  0004aac84e0df4da2b147fca70cf8255  November  4.285714           1

In [25]:
# Считаю среднее количество покупок в неделю (по месяцам)

weekly_customers.avg_orders = weekly_customers.avg_orders / weekly_customers.weeks

In [26]:
weekly_customers.head()

                 customer_unique_id     month     weeks  avg_orders
0  0000366f3b9a7992bf8c76cfdf3221e2       May  4.428571    0.225806
1  0000b849f77a49e4a4ce2b2a4ca5be3f       May  4.428571    0.225806
2  0000f46a3911fa3c0805444483337064     March  4.428571    0.225806
3  0000f6ccb0745a6a4b88665a16c9f078   October  4.428571    0.225806
4  0004aac84e0df4da2b147fca70cf8255  November  4.285714    0.233333